body
{
    background: #000;
    height: 900px;
    width: 100%;
    overflow: hidden;

    -webkit-transform: translateZ(0);
}

/* общие стили для луча */
.light
{
    position: absolute;
    left: -25%;
    top: -5%;
    width: 4px;
    height: 90%;
    -webkit-transition: all 30s linear;
    /*box-shadow: 0 0 300px 200px;*/
}

.right
{
    left: 150%;
}

/* --------------- */


.light0
{
    background: -webkit-linear-gradient(top,
        #EB2915,
        #ff6969 33%,
        #3bff3b 33.1%,
        #3DE131 66%,
        #EBDE15 66.1%);
    /*box-shadow: #0b320e 0 0 300px 200px;*/
}

.light0.play_yes
{
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
}

.light1
{
    background: -webkit-linear-gradient(bottom, #1dadff 0%, #FF00FF 100%);
    /*box-shadow: #010753 0 0 300px 200px;*/
}

.light1.play_yes
{
    -webkit-transform: rotate(160deg);
       -moz-transform: rotate(160deg);
        -ms-transform: rotate(160deg);
         -o-transform: rotate(160deg);
            transform: rotate(160deg);
}

.light2
{
    /*background: -webkit-linear-gradient(bottom, #ff1f4e 0%, #00ff12 100%);*/
    background: #fdff3b;
    /*box-shadow: #3c0a47 0 0 300px 200px;*/
}

.light2.play_yes
{
    -webkit-transform: rotate(-80deg);
       -moz-transform: rotate(-80deg);
        -ms-transform: rotate(-80deg);
         -o-transform: rotate(-80deg);
            transform: rotate(-80deg);
}

.light3
{
    background: -webkit-linear-gradient(top,
        #fff,
        #fff 25%,

        #3c3c3c 25.1%,
        #3c3c3c 27%,

        #0096ff 27.1%,
        #0096ff 50%,

        #3c3c3c 50.1%,
        #3c3c3c 52%,

        #fff 52.1%,
        #fff 75%,

        #3c3c3c 75.1%,
        #3c3c3c 77%,

        #0096ff 77.1%);
    /*box-shadow: #3c3c3c 0 0 300px 200px;*/
}

.light3.play_yes
{
    -webkit-transform: rotate(80deg);
       -moz-transform: rotate(80deg);
        -ms-transform: rotate(80deg);
         -o-transform: rotate(80deg);
            transform: rotate(80deg);
}

